body {
  background-image: url(Media/paul-volkmer-qVotvbsuM_c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  color: #f9f3f2;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 800;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  color: #060709;
  background-color: #91a9d1;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

footer {
  margin-top: 45px;
  text-align: center;
  font-size: 14px;
  color: #7a7f91;
  font-family: monospace;
}

footer a:visited {
  color: rgb(76, 123, 153);
}

.container {
  max-width: 600px;
  background-color: #0d142c;
  padding: 30px;
  margin: 60px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 30px 0;
  border-bottom: 1px dashed #91a9d1;
}

.city:last-of-type {
  border: none;
}

.date {
  color: #91a9d1;
}

.time {
  font-size: 46px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}
